.LoaderPage{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: #8db3ce;
    display: flex;
    flex-wrap: wrap;
}

.LoaderPage>div{
    color: #fff;
    font-size: 38px;
    width: 200px;
    text-align: center;
    margin: auto;
}

.load-text{
    color: #4F5257;
    font-size: 14px;
}