.LastActiveTopic-list{
    background-color: #e9f1f7;
    margin-top: 2px;
}

.LastActiveTopic-item{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    border-bottom: 1px solid #d7edfc;
    transition: all 0.5s ease 0s;
}

.LastActiveTopic-item:hover{
    background-color: #f5f8fb;
}

.LastActiveTopic-item a.link{
    text-decoration: none;
}

.LastActiveTopic-item a.link:hover{
    text-decoration: underline;
}

.LastActiveTopic-item-topic-title-info{
    flex: 100%;
}
.LastActiveTopic-item-topic-title-info>div{
    margin-bottom: 10px;
}

.LastActiveTopic-item-topic-title-info>span{
    font-size: 12px;
    display: block;
}

.LastActiveTopic-item-topic-statistic-info{
    flex: 1 0 150px;
    font-size: 12px;
}

.LastActiveTopic-item-topic-message-info{
    flex: 1 0 140px;
    font-size: 12px;
    text-align: center;
}

.LastActiveTopic-item-topic-message-info-date{
    font-size: 11px;
}