.Preloader-block{
    position: fixed;
    font-size: 13px;
    font-weight: bold;
    background-color: #649ec2f2;
    color: #f3f3f3;
    top: 0;
    right: 0;
    padding: 8px 16px;
    z-index: 501;
    border-bottom: 2px solid #f3f3f3;
    border-left: 2px solid #f3f3f3;
    border-radius: 0 0 0 10px;
    box-shadow: 0 0px 12px rgba(0,0,0,.5);
    display: none;
}

.Preloader-block.show{
    display: initial;
}

.Preloader-block>svg{
    margin-left: 10px;
}