.WordsList-block{

}

.WordsList-block ul{

}

.WordsList-block ul>li{
    font-size: 14px;
    list-style: none;
    padding: 8px 0;
}

.WordsList-block ul>li>svg{
    color: #1e88e5;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: -2px;
}

.word-text{
    cursor: pointer;
}

.WordSearchContent{
    background-color: #e9f1f7;
    margin-bottom: 4px;
}

.WordSearchContent:last-child{
    margin-bottom: 0;
}

.WordModalContent{
    max-width: 800px;
    max-height: calc(100vh - 120px);
    background-color: #e9f1f7;
    border-radius: 4px;
    overflow: auto;
}

.WordItemPage .WordModalContent{
    max-width: initial;
}

.WordModalContent>ul,
.WordSearchContent>ul{
    display: flex;

}

.WordModalContent>ul>li,
.WordSearchContent>ul>li{
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.WordModalContent>ul>li>span,
.WordSearchContent>ul>li>span{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #8db3ce;
    color: #8db3ce;
    width: 24px;
    height: 24px;
    margin-right: 6px;
    border-radius: 2px;
    transition: all 0.5s ease 0s;
}

.WordModalContent>ul>li>span:hover,
.WordSearchContent>ul>li>span:hover{
    color: #4caf50;
    border: 1px solid #4caf50;
}

.modal-example-block{
    border-top: 1px solid #fff;
    padding: 40px 20px;
    line-height: 28px;
}

.modal-example-block .Pervod{
    color: #4caf50;
}