.LastActiveTopic-list{
    background-color: #e9f1f7;
    margin-top: 2px;
}

.LastActiveTopic-item{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    border-bottom: 1px solid #d7edfc;
    transition: all 0.5s ease 0s;
}

.LastActiveTopic-item:hover{
    background-color: #f5f8fb;
}

.LastActiveTopic-item a.link{
    text-decoration: none;
}

.LastActiveTopic-item a.link:hover{
    text-decoration: underline;
}

.LastActiveTopic-item-topic-title-info{
    flex: 100%;
}
.LastActiveTopic-item-topic-title-info>div{
    margin-bottom: 10px;
}

.LastActiveTopic-item-topic-title-info>span{
    font-size: 12px;
    display: block;
}

.LastActiveTopic-item-topic-statistic-info{
    flex: 1 0 150px;
    font-size: 12px;
}

.LastActiveTopic-item-topic-message-info{
    flex: 1 0 140px;
    font-size: 12px;
    text-align: center;
}

.LastActiveTopic-item-topic-message-info-date{
    font-size: 11px;
}

.ForumsList-list-header-table{
    display: flex;
    text-align: center;
    border-bottom: 1px solid #d7edfc;
    padding: 0 20px;
    align-items: center;
}

.ForumsList-list-header-table>div{
    padding: 10px 6px;
    font-size: 13px;
}

.ForumsList-list-header-table-info{
    flex: 100%;
}

.ForumsList-list-header-table-count-topics{
    flex: 1 0 80px;
}

.ForumsList-list-header-table-count-messages{
    flex: 1 0 80px;
}

.ForumsList-list{
    background-color: #e9f1f7;
    margin-top: 2px;
}

.ForumsList-list-item-topic-title-info{
    flex: 100%;
    font-size: 11px;
}

.ForumsList-list-item-topic-title-info>span{
    font-size: 12px;
    display: block;
    margin-top: 4px;
}

.ForumsList-list-item-topic-title-info strong{
    font-size: 11px;
}

.ForumsList-list-item-topic-title-info>div{
    margin-bottom: 10px;
    font-size: 16px;
}

.ForumsList-list-item-count-topics{
    text-align: center;
    flex: 1 0 80px;
    font-size: 14px;
}

.ForumsList-list-item-count-messages{
    text-align: center;
    flex: 1 0 80px;
    font-size: 14px;
}

.TopicsList-list-header-table-info{
    flex: 100%;
}

.TopicsList-list-header-table-count-statistic{
    flex: 1 0 150px;
}

.TopicsList-list-header-table-count-messages{
    flex: 1 0 140px;
}

.MessagesList{
    background-color: #8db3ce;
}

.MessageItem{
    display: flex;
    margin: 1px 0;
}

.MessageItem-user-info{
    flex: 1 0 200px;
    text-align: center;
    font-size: 12px;
    background-color: #e9f1f7;
    padding-bottom: 20px;
}

.MessageItem-content{
    flex: 100%;
    position: relative;
    background-color: #fff;
    overflow: auto;
}

.MessageItem-message{
    position: relative;
    padding: 10px;
    font-size: 14px;
    /*min-height: calc(100% - 36px);*/
}

.MessageItem-message img{
    margin-right: 6px;
    vertical-align: top;
}

.MessageItem-message p{
    padding: 10px 0;
}

.MessageItem-message .q,
blockquote{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-left: 4px solid #176093;
    font-size: 13px;
    background-color: #f4f8fa;
}

.MessageItem-message img{
    max-width: 200px !important;
}

.MessageItem-content .signature{
    font-size: 12px;
    color: #b1b1b1;
    border-top: 1px solid;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.MessageItem-user-login{
    font-size: 14px;
    padding: 10px 2px;
    font-weight: bold;
}

.MessageItem-user-login .user-gender{
    margin-left: 6px;
    color: #176093;
}

.MessageItem-user-avatar{
    margin-top: 10px;
}

.MessageItem-user-avatar-block{
    width: 180px;
    height: 220px;
    margin: 4px auto;
    background-color: transparent;
    border: 1px solid #649ec2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(http://apprendrefr.ru/img/avatar/none_avatar.png);
    border-radius: 8px;
}

.MessageItem-social-block{
    display: flex;
    justify-content: center;
    align-items: center;
}

.MessageItem-messengers-block{
    display: flex;
    justify-content: center;
    align-items: center;
}

.MessageItem-social-item{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b3b3b3;
    font-size: 14px;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: #fff;
    margin-right: 4px;
    margin-top: 6px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.MessageItem-social-item:hover{
    color: #8db3ce;
}

.MessageItem-user-group{
    margin-top: 6px;
}

.MessageItem-user-user-posts{
    margin-top: 6px;
    margin-bottom: 6px;
}

.MessageItem-content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    background-color: #f4f8fa;
    padding: 10px 6px;
}

.MessageItem-content-date-post{

}

.MessageItem-content-topic-title{

}

.MessageItem-message .for_t{
    width: calc(50% - 4px);
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: top;
}

.MessageItem-message .for_t2{
    width: calc(50% - 4px);
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: top;
}

.MessageItem-content .message-control{
    position: absolute;
    right: 0;
    bottom: 0;
}

.MessageItem-content .message-control>ul{
    display: flex;
}

.MessageItem-content .message-control>ul>li{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 30px;
    height: 30px;
    margin-right: 4px;
    cursor: pointer;
}

.quote-block{
    display: none;
    position: fixed;
    padding: 10px 10px;
    background-color: #fff;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    border-radius: 4px;
    box-shadow: 0 0 2px 1px rgba(34,36,38,.15);
}

.quote-block.quote-show{
    display: flex;
    align-items: center;
}

.quote-block>.strong{
    font-size: 16px;
    margin-left: 4px;
}

.quote-remove{
    margin-left: 20px;
    color: #ccc;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.quote-remove:hover{
    color: #000;
}

.create-them-control-block{
    text-align: right;
    padding: 4px 10px;
}

.btn{
    font-size: 12px;
    position: relative;
    display: inline-block;
    background-color: #8db3ce;
    border: 1px solid #8db3ce;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
    padding: 4px 10px;
}

.create-them-block{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e9f1f7;
    z-index: 3;
    display: none;
}

.create-them-form-block{
    max-width: 600px;
    margin: 20px auto;
}

.create-them-block.show{
    display: initial;
}

.send-forum-message-block{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

