.App{
    min-height: calc(100vh - 146px);
    display: flex;
    flex-direction: row;
    max-width: 1300px;
    margin: 58px auto 0 auto;
    position: relative;
}

.App-left-block{
    flex: 1 0 280px;
}

.App-center-block{
    flex: 100%;
}

.App-right-block{
    flex: 1 0 220px;
}