.AppNoRight{
    min-height: calc(100vh - 146px);
    display: flex;
    flex-direction: row;
    /*margin-top: 56px;*/
    max-width: 1300px;
    margin: 58px auto 0 auto;
    position: relative;
}

.AppNoRight-left-block{
    flex: 1 0 280px;
}

.AppNoRight-center-block{
    flex: 100%;
}