.LayoutOne{
    min-height: calc(100vh - 173px);
    display: flex;
    flex-direction: row;
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
    background-color: #e9f1f7b3;
}

.LayoutOne .Left-block{
    flex: 1 0 280px;
}

.LayoutOne .CenterBlock-block{
    flex: 100%;
}

.LayoutOne .Right-block{
    flex: 1 0 220px;
}