nav.tab-nav{
    display: flex;
    border-radius: 2px;
    overflow: hidden;
}

.tab-nav-item{
    box-sizing: border-box;
    flex: 1 1 auto;
    width: 1%;
    cursor: pointer;
    border: 1px solid #fff;
    padding: 6px 10px;
    background-color: #fff;
    outline: none;
    transition: all 0.3s ease 0s;
}

.tab-nav-item:hover{
    background-color: #f7fbff;
    border: 1px solid #8db3ce;
}

.tab-nav-item.active{
    background-color: #8db3ce;
    color: #fff;
    border: 1px solid #8db3ce;
}

.tab-item{
    display: none;
}

.tab-item.active{
    display: initial;
}