.LayoutOne{
    min-height: calc(100vh - 146px);
    display: flex;
    flex-direction: row;
    max-width: 1300px;
    margin: 58px auto 0 auto;
    position: relative;
}

.LayoutOne .Left-block{
    flex: 1 0 280px;
}

.LayoutOne .CenterBlock-block{
    flex: 100%;
}

.LayoutOne .Right-block{
    flex: 1 0 220px;
}