.StatisticBlock{
    background-color: #aacadd;
    padding: 10px;
}

.StatisticBlock-content{
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
}

.StatisticBlock-statistic{
    flex: 1 0 200px;
    background-color: #c7dce8;
    padding: 10px;
    border-radius: 4px;
    font-size: 12px;
}

.StatisticBlock-online-list{
    flex: 100%;
    font-size: 12px;
    background-color: #c7dce8;
    border-radius: 4px;
    margin-right: 6px;

}