button.Btn-load{
    position: relative;
    display: inline-block;
    background-color: #8db3ce;
    border: 1px solid #8db3ce;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
    padding: 4px 16px;
}

button.Btn-load:hover{
    background-color: #75a7ca;
}

button.Btn-load:disabled{
    background-color: #8db3ce;
    cursor: not-allowed;
}

button.Btn-load:disabled:hover{
    background-color: #8db3ce;;
}

button.Btn-load>svg{
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    outline: none;
    display: none;
}

button.Btn-load:disabled>svg{
    display: initial;
}

button.Btn-load>span{
    opacity: 1;
}

button.Btn-load:disabled>span{
    opacity: 0;
}