.Test-left-block{
    background-color: #E6EFF5;
    padding: 8px 4px;
    margin: 1px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.Test-left-block>div{
    width: calc(50% - 1px);
}