.TextBtn{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    background: #fff;
    font-weight: 400;
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    border-radius: 2px;
    font-size: 14px;
}

.TextBtn-title{
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 0 8px;
    background-color: #f7fbff;
    font-size: 12px;
}

.TextBtn-title>svg{
    font-size: 14px;
    margin-right: 6px;
    margin-left: 6px;
}

.TextBtn-input-block{
    flex: 1 1 auto;
    width: 1%;
    outline: 0;
    background: #fff;
    padding: 6px 12px ;
    color: rgba(0,0,0,.87);
    border-left: 1px solid rgba(34,36,38,.15);
    border-right: 1px solid rgba(34,36,38,.15);
}

.TextBtn-input-block input{
    background: none transparent!important;
    border: none!important;
    box-shadow: none!important;
    cursor: text;
    width: 100%;
    outline: 0;
    font-size: 14px;
}

.TextBtn-list-block{
    display: flex;
    align-items: center;
    white-space: nowrap;
    position: relative;
}

.TextBtn-list-block>span{
    display: inline-block;
    font-size: 12px;
    padding: 4px 6px 0;
    /*width: 100px;*/
    text-align: center;
    height: calc(100% - 6px);
    cursor: pointer;
    user-select: none;
}

.TextBtn-list-block>span:hover{
    background-color: #e9f1f7;
}

.TextBtn-list-block.active>span{
    background-color: #e9f1f7;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.TextBtn-list-block>span>svg{
    display: inline-block;
    float: right;
    margin-left: 6px;
    margin-bottom: 2px;
    margin-right: 4px;
}

.TextBtn-list-block>ul{
    /*width: 100%;*/
    padding-top: 2px;
    list-style: none;
    position: absolute;
    z-index: 1;
    top: 28px;
    right: 0;
    background: #e9f1f7;
    display: none;
}

.TextBtn-list-block.active>ul{
    display: initial;
    box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
}

.TextBtn-list-block>ul>li{
    padding: 6px 6px;
    border-radius: 0 0 2px 2px;
    white-space: nowrap;
    background-color: #fff;
    cursor: pointer;
    user-select: none;
}

.TextBtn-list-block>ul>li:hover{
    background-color: #f7fbff;
}