nav{

}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
}

nav a{
    display: inline-block;
    color: #176093;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 10px;
    transition: all 0.5s ease 0s;
}

nav a:hover{
    background-color: #fff;
}

@media (max-width: 1060px) {
    nav ul{
        display: none;
    }
}